# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
venv/
.venv/

# Environment — JANGAN masuk ke container!
.env

# Data besar yang tidak perlu
data/credit_risk_dataset.csv
data/mlflow/
data/drift_reports/
data/chroma_db/

# Development files
*.log
.git/
.gitignore
README.md

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
tests/
*.test.py