# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
env/

# Environment
.env

# Data & Models
data/
*.pkl
*.joblib
*.model

# MLflow
mlruns/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
